html
  body

  h3 #{data}

  ul
    //- - book_list.sort(function(a, b) {let textA = a.title.toUpperCase(); let textB = b.title.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
    each user in data
      li
        p #{user}
        p #{user.secrets}
        ul
          each secret in user.secrets
            li 
              p #{secret}
        //- p #{user.secret}
        //- p #{user.secret}
        //- a(href=post.url) #{post.title}
        //- |  (#{post.author.name})

    else
      li There is no data.


if user
  h1 Welcome back #{user.username}
  p #{user.name} #{user}

  a(href='/change-is-admin/'+user._id) Change IsAdmin
  a(href='/log-out') LOG OUT
else 
  h1 please log in   

  form(action=`/log-in`, method='POST')
    p
      | Name: 
      input(type='text' name='username' value='')
      br
      | Password: 
      input(type='password' name='password' value='')

    input(type='submit' value='Log In')

    Or 
    a(href='/sign-up') Sign Up
